body {
    font-family: 'Quicksand', sans-serif;
    background-image: linear-gradient(#134d71,#78a7c6,#f7e4bf);
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header {
    color: #ffff;
}
.home-view {
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center
}
h2 {
    color: #ffff;
    font-size: 20px;
    margin-bottom: 0.5%;
}
.recieve-message-box {
    background-color: #ffff;
    border: none;
    border-radius: 10px;
    width: 500px;
    margin-bottom: 5%;
    padding: 1%;
    margin: auto;
}
.display-message-box {
    background-color: #ffff;
    border: none;
    border-radius: 10px;
    width: 800px;
    height: 100px;
    margin: auto;
    margin-top: 5%;
}
.recieve-message-button {
    display: block;
    margin: auto;
    background-color: #134d71;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 25px;
    text-align: center;
    color: #ffff;
    margin-top: 4%;
    font-family: 'Quicksand', sans-serif;
}
.mantra, .affirmation {
    padding: 13%;
    display: inline;
}
.message-text {
    padding-top: 2%;
}
.svg {
    padding-top: 2%
}
.add-to-favorite-button {
    font-family: 'Quicksand', sans-serif;
    background-color: #134d71;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 25px;
    text-align: center;
    color: #ffff;
}
.see-favorites-button{
    font-family: 'Quicksand', sans-serif;
    background-color: #134d71;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 25px;
    text-align: center;
    color: #ffff;
    margin: 2%;
}
.view-favorites {
    display: flex;
    height: 500px;
}
.column {
    float: left;
    width: 36%;
    background-color: #ffff;
    border: none;
    border-radius: 10px;
    margin: 5%;
    padding: 2%;
}
.row:after {
    display: table;
    clear: both;
}
h3 {
    color: #ffff;
    font-size: 35px;
    margin-bottom: 2%;
}
.home-page-button {
    font-family: 'Quicksand', sans-serif;
    background-color: #134d71;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 25px;
    text-align: center;
    color: #ffff;
}
.delete {
    font-family: 'Quicksand', sans-serif;
    background-color: #134d71;
    border: none;
    border-radius: 5px;
    width: 50px;
    height: 20px;
    text-align: center;
    color: #ffff;
}