body {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: #ffff;
    background-image: linear-gradient(#134d71,#78a7c6,#f7e4bf);
    background-attachment: fixed;
}

h1, h3 {
    font-size: 30px;
    margin-bottom: 2%;
}

h2, h4, span {
    font-size: 20px;
    margin-top: 2%;
    margin-bottom: 0.5%;
}

span {
    color: #f7e4bf
}

.greeting {
    margin-top: 10%
}

.recieve-message-button, .add-to-favorite-button, .see-favorites-button, .home-page-button, .delete-button, .clear-message-button, .delete-from-possibilities-button, .submit-button, .make-own-button, .DIY-button {
    background-color: #134d71;
    color: #ffff;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    border: 0;
    border-radius: 5px;
    width: 150px;
    height: 25px;
}

.recieve-message-button {
    display: block;
    margin: auto;
    margin-top: 1%;
}

.see-favorites-button, .submit-button, .make-own-button, .DIY-button {
    margin: 2%;
}

.delete-from-possibilities-button, .add-to-favorite-button, .clear-message-button {
    width: 175px;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 2%;
}

.delete-button {
    width: 50px;
    height: 20px;
    text-align: center;
}

.recieve-message-box {
    background-color: #ffff;
    color: #000;
    border-radius: 10px;
    width: 500px;
    margin: auto;
    margin-bottom: 5%;
    padding: 1%;
}

.display-message-box {
    background-color: #ffff;
    color: #000;
    border-radius: 10px;
    width: 800px;
    height: 100px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 2%;
}

.mantra, .affirmation {
    padding: 13%;
    display: inline;
}

.message-text, .svg {
    padding-top: 2%;
}

.DIY {
    margin: 1%
}

.column {
    background-color: #ffff;
    color:#000;
    border-radius: 10px;
    float: left;
    width: 36%;
    margin: 5%;
    padding: 2%;
}

.row:after {
    display: table;
    clear: both;
}