/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/

body {
    font-family: 'Quicksand', sans-serif;
    background-image: linear-gradient(#134d71,#78a7c6,#ffff);
    text-align: center;
    margin: auto;
}
header {
    color: #ffff;
    padding-top: 2%;
    padding-bottom: 4%;
}
h2 {
    color: #ffff;
    margin-bottom: 0.5%;
}
.recieve-message-box {
    background-color: #ffff;
    border: none;
    border-radius: 10px;
    width: 500px;
    margin: auto;
    margin-bottom: 5%;
    padding: 1%;
}
.display-message-box {
    background-color: #ffff;
    border: none;
    border-radius: 10px;
    width: 800px;
    height: 90px;
    margin: auto;
}
.recieve-message-button {
    display: block;
    margin: auto;
    background-color: #134d71;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 25px;
    text-align: center;
    color: #ffff;
    margin-top: 5%;
    font-family: 'Quicksand', sans-serif;
}
.affirmation {
    display: inline;
    margin-right: 30%;
}
.mantra {
    display: inline;
}
.message-text, .yellow-dude {
    padding: 2%;
}
footer {
    margin: 20%;
}